@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-primary: var(--color-indigo-600);
  --color-brand-dark: var(--color-slate-900);
  --color-brand-light: var(--color-slate-50);

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}
